<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="bg-light contatiner p-4 border rounded">
      <div class="text-center">
        <h2>Welcome</h2>
        <p>Log In to your account</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" placeholder="Email Address">
          <div *ngIf="submitted && email.invalid" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Please fill in your email.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Password">
          <div *ngIf="submitted && password.invalid" class="alert alert-danger">
            <div *ngIf="password.errors.required">
                Please fill in your password.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
        <div>
          Not a member?  
          <a [routerLink]="['/register']" class="btn btn-link">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>